.meme {
    @include wh(100%, 40rem);
    @include background-center;
    border: 3px solid $green;
    position: relative;

    &__emotion {
        position: absolute;
        top: $spacing;
        right: $spacing;
        height: 10rem;
    }

    &__overlay {
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        padding: $spacing;
        @include flex-center;
        @include child-margins($spacing);
        position: absolute;
        bottom: 0;
    }

    &__fact {
        color: white;
        font-size: 4rem;
        text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
        letter-spacing: 1px;
    }

    &__source {
        background: white;
        text-transform: uppercase;
        font-size: 1.6rem;
        color: $green;
    }
}