menu, .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    li {
        list-style: none;
        @include flex-center;
        @include child-margins($spacing);
    }

    > * {
        margin: 1rem;
        max-width: 50%;
    }

    &__emoji > * {
        height: 10rem;
    }

    img {
        height: 100%;
    }

    .center {
        @include wh(100%, 100%);
    }
}